<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <a class="brand" href="<%= root_path %>">Mark Final</a>
      <ul class="nav">
        <li><a href="<%= filter_path(cat: 'int') %>">INT</a></li>
        <li><a href="<%= filter_path(cat: 'mat') %>">MAT</a></li>
        <li><a href="<%= filter_path(cat: 'phy') %>">PHY</a></li>
      </ul>
    </div>
  </div>
</div>
